#header {
  background: none repeat scroll 0 0 #FFA07A;
  position: relative
}
.yusi-logo{
  padding: 30px 0 30px 0;
  overflow: hidden;
}
.yusi-mono{
  font-size: 30px;
}
.topa{
  display: block;
  float: left;
}
.search-expand{
  display: block;
  background:none;
  position: relative;
  float: left;
  top:0;
  /* right:0; */
  width: 485px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  margin-left: 100px;
  overflow: hidden;
}
.search-expand input.search{
  width:90%;
  display: block;
  float: left;
  height: 30px;
}
.input-group{
  letter-spacing: 0;
  position: relative;
}
.search-expand .searchButoon{
  width: 70px;
  position:absolute;
  top: 0;
  right: 0;
  display: block;
  height: 40px;
  background: none repeat scroll 0 0 #d56464;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  border : none;
}
.search-expand .searchButoon:hover{
  opacity: .75
}
/*移动端*/
html.mhtml .yusi-logo{
  padding: 0.26666666666666666rem 0 0.26666666666666666rem 0;
}
html.mhtml .yusi-logo .search-expand{
  display: none;
}
html.mhtml .yusi-logo .topa{
  margin-left: 1.56rem;
}
html.mhtml .yusi-logo .yusi-mono {
  font-size: 0.56rem !important;
}
