{% extends 'base_right.html' %}
{% load blog_tags static %}
{% block title %}{{ object.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="{{ object.summary }}"/>
    {% endblock description %}
{% block keywords %}
    <meta name="keywords" content="{% get_article_keywords object %}"/>
    {% endblock keywords %}
{% block top-file %}
{#{% if user.is_authenticated %}#}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"> -->
<link href="{% static 'highlights/github.css' %}" rel="stylesheet">
{#{% endif %}#}
<link href="{% static 'comment/css/base_comment.css' %}?v=20180114.008" rel="stylesheet">
{% endblock %}
{% block head %}
    <script>
    $(function(){
        $("article").find('img').each(function () {
            var realWidth = this.width;     //获取图片真实宽度
            if(realWidth>770){
                $(this).attr("width", '770');
            }
            $(this).click(function(){
                var _this = $(this);
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });
        });

        $("img").find('img').each(function () {
            $(this).click(function(){
                var _this = $(this);//将当前的pimg元素作为_this传入函数
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
        });
    });
    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });
        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
</script>
{% endblock head %}
{% block body %}
<div class="content-wrap">
	    <div class="content">
            <div class="breadcrumbs">
                <a title="返回首页" href="/"><i class="fa fa-home"></i></a><small>></small>
                <a href="/category/{{ object.category.bigcategory.slug }}">{{ object.category.bigcategory.name }}</a> <small>></small>
                <a href="/category/{{ object.category.bigcategory.slug }}/{{ object.category.name|lower }}">{{ object.category.name }}</a>
                <small>></small> <span class="muted">{{ object.title }}</span>
            </div>
            <header class="article-header">
                <h1 class="article-title"><a href="/article/{{ object.slug }}">{{ object.title }}</a></h1>
                <div class="meta">
                    <span id="mute-category" class="muted">
                        <i class="fa fa-list-alt"></i>
                        <a href="category/technique/{{ object.category.name|lower }}"> {{ object.category.name }}</a>
                    </span>
                    <span class="muted">
                        <i class="fa fa-user"></i>
                        <a href="/author/{{ object.author.name }}">{{ object.author }}</a>
                    </span>
                    <time class="muted"><i class="fa fa-clock-o"></i> {{ object.create_date|date:'y-m-d' }}</time>
                    <span class="muted"><i class="fa fa-eye"></i> {{ object.views }}浏览</span>
                    <span class="muted">
                        <i class="fa fa-comments-o"></i>
                        <a href="/article/{{ object.slug }}#respond">0评论</a>
                    </span>
                </div>
            </header>
            <article class="article-content">
			    {{ article.body|safe }}
                <p>转载请注明：
                    <a href="{% url 'blog:article' object.slug %}">百网思</a></a> &raquo;
                    <a href="{% url 'blog:article' object.slug %}">{{ object.title }}</a>
                </p>

     		 <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                      <div id="innerdiv" style="position:absolute;">
                          <img id="bigimg" style="border:5px solid #fff;" src="" />
                      </div>
                </div> 
                <div class="article-social">
                            <a href="javascript:;" data-action="ding" data-id="{{ object.id }}" id="Addlike" class="action">
                                <i class="fa fa-heart-o"></i>喜欢 (<span class="count">{{ object.loves }}</span>)
                            </a>
                            <span class="or">or</span>
                            <span class="action action-share bdsharebuttonbox"><i class="fa fa-share-alt"></i>分享 (
                                <span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)
                                <div class="action-popover">
                                    <div class="popover top in">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                                            <a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="tencentweibo fa fa-tencent-weibo" data-cmd="tqq" title="分享到腾讯微博"></a>
                                            <a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a>
                                            <a href="#" class="bds_renren fa fa-renren" data-cmd="renren" title="分享到人人网"></a>
                                            <a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a>
                                            <a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a>
                                        </div>
                                    </div>
                                </div>
                            </span>
                </div>
            </article>
        
                <footer class="article-footer">
                    <!--文章标签-->
                    <div class="article-tags">
                    <i class="fa fa-tags"></i>
                        {% get_article_tag object.id as tags %}
                        {% for tag in tags %}..
                            <a href="{% url 'blog:tag' tag.slug %}" rel="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <!--文章标签结束-->

                </footer>
                <!--推荐文章-->
                <nav class="article-nav">
                        <span class="article-nav-prev">
                            <i class="fa fa-angle-double-left"></i>
                            {% get_article_previous object.id as article_previous %}
                            <a href="{% url 'blog:article'  article_previous.slug %}" rel="prev">{{ article_previous.title }}</a>
                        </span>
                        <span class="article-nav-next">
                            {% get_article_next object.id as article_next %}
                            <a href="{% url 'blog:article'  article_next.slug %}" rel="prev">{{ article_next.title }}</a>
                            <i class="fa fa-angle-double-right"></i>
                        </span>
                </nav>

		    <div class="related_top">
			    <div class="related_posts">
                <ul class="related_img">
                    {% get_category_article object as  category_article %}
                    {% for article in category_article.article_4 %}
                        <li class="related_box"  >
                        <a href="{% url 'blog:article' article.slug %}" title="{{ article.title }}" target="_blank">
                <img src="{{ article.img_link }}" alt="{{ article.title }}" />	<br><span class="r_title">{{ article.title }}</span></a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="relates">
                    <ul>
                        {% for article in category_article.article_8 %}
                        <li>
                            <i class="fa fa-minus"></i>
                            <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>


{#            <div class="card mt-2 rounded-0 border-0" id="comment-block">#}
{#                {% include 'comment/editor.html' %}#}
{#            </div>#}
		    {% include 'comment_list.html' %}
	    </div>
</div>
{% endblock body %}


{% block end_file %}
{% if user.is_authenticated %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{#<script src="{% static 'comment/js/editor.js' %}?v=20180113.05907"></script>#}
<script src="{% static 'comment/js/activate-power.js' %}?v=20180120"></script>
<script>
var sw=window.screen.width;if(sw>1200){POWERMODE.colorful=true;POWERMODE.shake=false;document.body.addEventListener('input',POWERMODE)};

</script>
{% endif %}
{% endblock %}
