{%extends 'index_right.html'%}
{% load blog_tags static comment_tags%}

{% block title %}汇网思头条，娱乐八卦，小说{% endblock title %}
{% block description %}
<meta name="description" content="汇网思新闻，汇网思头条，娱乐八卦，小说，段子，美食，税务"/>
{% endblock description %}
{% block keywords %}
<meta name="keywords" content="汇网思新闻，汇网思头条，娱乐八卦，小说，美食，税务，一款会自动学习的资讯网站,它会分析你的兴趣爱好,为你推荐喜欢的内容,并且越用越懂你"/>
{% endblock keywords %}
{% block body%}
    <div class="content-wrap">
        <div class="content">
            <div class="index-content-top">
            <!-- 轮播广告-->
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        {% get_carousel_index as carousels %}
                        {% for carousel in carousels %}
                        <li>
                            <a target="_blank" href="{{ carousel.url }}" title="{{ carousel.content }}">
                                <img src="{{ carousel.img_url }}" title="{{ carousel.title }}" alt="{{ carousel.title }}"/>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ws_thumbs" style="display: none;">
                    <div>
                        {% get_carousel_index as carousels%}
                        {% for carousel in carousels %}
                        <a target="_blank" href="#" title="{{ carousel.title }}"><img src="{{ carousel.img_url }}"/></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="ws_shadow"></div>
            </div>
            <!-- end轮播广告-->
            <!-- 录播右侧-->
            <div class="index-con-right">
                <div class="item"></div>
                <div class="item"></div>
            </div>
           </div>
            <!-- end录播右侧-->
            <script type="text/javascript" src="/static/js/slider.js"></script>
            <!--娱乐 和 商业 推荐展示-->
            <div class="bws-index-mind">
                <div class="hot-posts">
                    <h2 class="title">娱乐要闻</h2>
                    <div class="j_yule">
                        {% for list in yulelist.data%}
                    <div class="item">
                        <a href="#" title="">
                            <img src="https://{{list.images.0}}" alt="" class="img">
                        </a>
                        <h4>
                            <a href="#" title="">
                                {{list.title}} 
                            </a>
                        </h4>
                    </div>
                    {%endfor%}
                    <!-- end item-->
                    </div>
                </div>
                <div class="hot-posts">
                    <h2 class="title">最新商业</h2>
                    <div class="j_biz"></div>
                </div>
            </div>
            <!-- 热门推荐-->
            <div>
                <div class="left-ad" style="clear: both;background-color: #fff; width: 30%;float: left;margin-right:2%;"></div>
                <div class="hot-posts">
                    <h2 class="title">热门推荐</h2>
                    <ul>
                        {% get_article_list 'loves' 5 as hot_article %}
                            {% for hot in hot_article %}
                            <li>
                                <p><span class="muted">
                                    <a href="javascript:;" data-action="ding" data-id="{{ hot.id }}" id="Addlike" class="action">
                                        <i class="fa fa-heart-o"></i><span class="count">{{ hot.loves }}</span> 喜欢</a>
                                    </span>
                                </p>
                                <span class="label label-1">{{ forloop.counter}}</span>
                                <a href="/article/{{ hot.slug }}" title="{{ hot.title }}">{{ hot.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% for article in page_obj %}
            <article class="excerpt">
                <header><a class="label label-important" href="/category/{{ article.category.bigcategory.name }}/{{ article.category.name|lower }}">{{ article.category.name }}<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="/article/{{ article.slug }}" title="{{ article.title }}">{{ article.title }} </a></h2>
                </header>
                <div class="focus">
                    <a target="_blank" href="{{ article.get_absolute_url }}">
                        <img class="thumb" width="200" height="123" src="{{ article.img_link }}" alt="{{ article.title }}"/>
                    </a>
                </div>
                <span class="note">{{ article.summary }}</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i>
                        <a href="{% url 'accounts:profile' %}?next={{ request.path }}">{{ article.author }}</a>
                    </span>
                    <span class="muted"><i class="fa fa-clock-o"></i> {{ article.create_date|date:'Y-m-d' }}</span>
                    <span class="muted"><i class="fa fa-eye"></i> {{ article.views }}浏览</span>
                    <span class="muted"><i class="fa fa-comments-o"></i>
                        <a target="_blank" href="/article/{{ article.slug }}#comments">{% get_comment_count article.id  article.id%}评论</a>
                    </span>
                    <span class="muted"><a href="javascript:;" data-action="ding" data-id="{{ article.id }}" id="Addlike" class="action">
                        <i class="fa fa-heart-o"></i><span class="count">{{ article.loves }}</span>喜欢</a>
                    </span>
                </p>
            </article>
        {% empty %}
            <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}

        {% if is_paginated %}
            <div class="pagination">
                <ul>
                    {% if first %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% for i in left %}
                            <li class="prev-page"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    {% if right %}
                        {% for i in right %}
                            <li class="next-page"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if right_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                    {% endif %}
                    {% if last %}
                        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        </div>
    </div>

{%endblock body%}

