{%extends 'base_right.html'%}
{% load static %}
{% block title %}百网思--{{data.title}}{% endblock title %}
{% block description %}
<meta name="description" content="百网思新闻，百网思头条，娱乐八卦，{{data.title}}"/>
{% endblock description %}
{% block body%}
<div class="content-wrap">
  <div class="content">
      <header class="article-header">
          <h1 class="article-title"><a href="#">{{data.title}}</a></h1>
      </header>
      <article class="article-content">
       {{data.article|safe}}
       {%comment%}
       {%for art in data.article%}
        {{art}}
       {%endfor%}
       {%endcomment%}
      </article>
  </div>
</div>
{%endblock body%}