{%extends 'base_right.html'%}
{% load static %}
{% block body%}
<link rel='stylesheet'  href='{% static 'css/biz/biz.css' %}' type='text/css' media='all' property='stylesheet'/>
<div class="content-wrap feed-wrapper">
  <div class="content">
      {% for list in data %}
      <div class="data_row news_article clearfix news_first">   
        <a href="{{list.docurl}}" class="na_pic j_opentURL">
            <img src="{{list.imgurl}}" alt="{{list.title}}" width="140" height="88">
        </a>
        <div class="na_detail clearfix ">
            <div class="news_title">
                <h3><a href="{{list.docurl}}" class="j_opentURL">{{list.title}}</a></h3>
            </div>
            <div class="news_tag">
                  <a href="" class="link">{{list.label}}</a>
                  <div class="keywords">
                    {% for kename in list.keywords%}
                    <a href="#">{{kename.keyname}}</a>
                    {%endfor%}
                 </div>
                <span class="time ">{{list.time}}</span>
            </div>
        </div>
        </div> 
      {% endfor %}
    </div>
</div>
<script type='text/javascript' src='{% static 'js/yule/fun.js' %}'></script>
{%endblock body%}